.video-container {
    position: relative;
    height: 500px;
    display: flex;
    padding-bottom: .2rem;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: black;
    color: #ddd;
}
.video-container:fullscreen {
    width: 100vw;
    height: 100vh;
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.video-container .header,
.video-container .footer {
    opacity: 0;
}
.video-container:hover .icon-centered {
    background: green;
    border: 1px solid red;
    height: 50px;
    width: 100%;
    z-index: 50;
}
.video-container #captions {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
    white-space: nowrap;
    display: none;
}
.video-container #captions.show {
    display: block;
}
.video-container:hover #captions.show {
    bottom: 70px;
}
.video-container.hide-controls #captions.show {
    bottom: 20px;
}
.video-container.hide-controls {
    cursor: none;
}
.video-container.hide-controls .header,
.video-container.hide-controls .footer {
    visibility: hidden;
}
.video-container:hover .header {
    display: flex;
    min-height: 50px;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    white-space: nowrap;
    font-weight: lighter;
    word-spacing: 1px;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.video-container:hover .footer {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.video-container:hover .footer .seek-bar {
    position: relative;
    height: 3px;
    width: 100%;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: height 0.2s ease;
}
.video-container:hover .footer .seek-bar:hover {
    height: 6px;
}
.video-container:hover .footer .seek-bar:hover .bar-thumbnail {
    display: block;
}
.video-container:hover .footer .current-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: red;
    z-index: 2;
}
.video-container:hover .footer .current-point {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: red;
    height: 10px;
    width: 10px;
    z-index: 3;
    display: none;
}
.video-container:hover .footer .buffered-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(255,255,255,.5);
    z-index: 1;
}
.video-container:hover .footer .bar-thumbnail {
    position: absolute;
    background: #ddd;
    top: -150px;
    left: 50%;
    height: 105px;
    width: 180px;
    border: 3px solid red;
    background-size: contain;
    border-radius: 10px;
    display: none;
    z-index: 2;
}
.video-container:hover .footer .bar-thumbnail small {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.video-container:hover .footer .bar-thumbnail.blurred {
    filter: blur(1.500px);
}
.video-container:hover .footer .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    white-space: nowrap;
    height: 100%;
}
.video-container:hover .footer .controls .icons {
    height: 20px;
    width: 20px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.video-container:hover .footer .controls .left-bar,
.video-container:hover .footer .controls .right-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.video-container:hover .footer .controls .right-bar .closed-captioning.show {
    position: relative;
}
.video-container:hover .footer .controls .right-bar .closed-captioning.show::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.4s ease;
    z-index: -1;
}
.video-container:hover .footer .controls .right-bar .closed-captioning.show.show::after {
    width: 100%;
}
.video-container:hover .footer .controls .right-bar .popup-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 80px;
    right: 15px;
    padding: .5rem 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
}
.video-container:hover .footer .controls .right-bar .popup-dialog.show {
    opacity: 1;
}
.video-container:hover .footer .controls .right-bar .popup-dialog .dialog-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    padding: .7rem 1rem;
    cursor: pointer;
    box-sizing: border-box;
}
.video-container:hover .footer .controls .right-bar .popup-dialog .dialog-list:hover {
    background: rgba(255, 255, 255, 0.3);
}
.video-container:hover .footer .controls .right-bar .popup-dialog div .left-float,
.video-container:hover .footer .controls .right-bar .popup-dialog div .right-float {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.video-container:hover .footer .controls .left-bar .volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.video-container:hover .footer .controls .left-bar .volume-container .volume-range {
    height: 6px;
    width: 0;
    accent-color: #ddd;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: width 0.3s ease, opacity .1s ease, visibility 0s 0.3s;
}
.video-container:hover .footer .controls .left-bar .volume-container:hover .volume-range {
    width: 80px;
    visibility: visible;
    opacity: 1;
    transition: width 0.3s ease, opacity .1s ease, visibility 0s;
    margin-left: 20px;
}